#PORT = 3000
# Recommended for most uses
#DATABASE_URL=postgresql://neondb_owner:npg_s6G4oXDQiTmd@ep-spring-mouse-axoawax7-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Auth Secret
#BETTER_AUTH_SECRET=0f08dd87e39d020191aa050055102ed59140913a88242be1d70f5b0ac0034f31
#BETTER_AUTH_URL=http://localhost:3000
#GROQ_API_KEY=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